$color-text-base: #263238;
$color-text-title: #2F7FD5;
$color-text-title-modal: #231F20;
$color-text-fonts-modal: #BBC5C9;
$color-text-table-head: #2F4C97;
$color-background-base: #E9F3FF;
$color-invalid: #DA1B1B;
$color-form-filled: #505662;

$color-text-button-hover: #3C7CF8;

$color-text-button-active: #194EB6;
$color-text-button-disabled: #D8DEE9;
$color-text-button-blue: #2F67D5;
$color-text-button-blue-hover: rgba(60, 124, 248, 0.1);
$color-text-button-blue-active: rgba(25, 78, 182, 0.2);
